<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><!-- TITLE --></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <meta name="description" content="<!-- DESCRIPTION -->">
    <link rel="icon" href="<!-- ROOT -->/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="<!-- ROOT -->/style.css">
    <link rel="stylesheet" href="<!-- ROOT -->/code.css">
    <script src="<!-- ROOT -->/script.js" defer></script>
  </head>
  <body>
    <main>    
      <!-- NAV -->
      <!-- H1 -->
      <!-- DATE -->
      <!-- RENDERED CONTENT -->
      <!-- INDEX -->
    </main>
    <!-- FOOTER -->
  </body>
</html>
